ui/__pycache__/Ui_dialog_afterDraw.cpython-37.pyc
ui/__pycache__/Ui_mainwindow.cpython-37.pyc
ui/__pycache__/Ui_option.cpython-37.pyc
uiext/__pycache__/ManagerConfig.cpython-37.pyc
uiext/__pycache__/page_fingerprint.cpython-37.pyc
uiext/__pycache__/page_remindtype.cpython-37.pyc
uiext/__pycache__/RemindContent.cpython-37.pyc
uiext/__pycache__/remindtype_content.cpython-37.pyc
uiext/__pycache__/remindtype.cpython-37.pyc
uiext/__pycache__/Ui_dialog_afterDraw_event.cpython-37.pyc
uiext/__pycache__/Ui_mainwindow_event.cpython-37.pyc
uiext/__pycache__/Ui_option_event.cpython-37.pyc
util/__pycache__/DirectShot.cpython-37.pyc
util/__pycache__/DrawShot.cpython-37.pyc
util/__pycache__/PictureOCR.cpython-37.pyc
util/__pycache__/ScrollLabel.cpython-37.pyc
util/__pycache__/TimeShot.cpython-37.pyc
.vscode/launch.json
ui/__pycache__/Ui_dialog_afterDraw.cpython-37.pyc
ui/__pycache__/Ui_mainwindow.cpython-37.pyc
ui/__pycache__/Ui_option.cpython-37.pyc
uiext/__pycache__/ManagerConfig.cpython-37.pyc
uiext/__pycache__/page_fingerprint.cpython-37.pyc
uiext/__pycache__/page_remindtype.cpython-37.pyc
uiext/__pycache__/RemindContent.cpython-37.pyc
uiext/__pycache__/remindtype_content.cpython-37.pyc
uiext/__pycache__/remindtype.cpython-37.pyc
uiext/__pycache__/Ui_dialog_afterDraw_event.cpython-37.pyc
uiext/__pycache__/Ui_mainwindow_event.cpython-37.pyc
uiext/__pycache__/Ui_option_event.cpython-37.pyc
util/__pycache__/DirectShot.cpython-37.pyc
util/__pycache__/DrawShot.cpython-37.pyc
util/__pycache__/PictureOCR.cpython-37.pyc
util/__pycache__/ScrollLabel.cpython-37.pyc
util/__pycache__/TimeShot.cpython-37.pyc
